body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.tableContainer{
  width: 70%;
}
.titlePage{
  padding-right: 10px;
  font-size: 36px;
  text-align: center;
  text-shadow: 2px 2px 10px gray;
  margin-top: 5px;
  border: 0px;
  border-bottom: 2px #26a69a solid;
}

.filterFormContainer{
  width: 30%;
}
.logout{
  font-size: 14px;
  float: right;
  /* justify-content: flex-end;
  display: flex; */
}
/* .logout ul, .logout li{
  margin: 0px;
  padding: 0px;
} */
.flex-container{
  display: flex;
}

.flex-container > div{margin-right: 10px;}
.rangeStyle > input{
  width: 50%;
  text-align: center;
}

.btnsContainers{
  display: flex;
  justify-content: space-between;
}

.filterPanel{
  display: flex;
  justify-content: space-around;
}

.orderIcon{
  border: 0px;
  width: auto;
  padding: 0;
  background-color: transparent;
  display: inline;
}

.orderIcon i{
  margin: 0;
}

.orderIcon:hover{
  color: #26a69a;
  font-weight: bold;
}
.theadId{
  width: 40px;
}

.orderIcon:focus{
  border: 0px;
  font-weight: bold;
  background-color: transparent  !important;
}